.carousel-booking {
  font-family: medium;
  font-size: $size-14;
  .row {
    margin: 0px;
    .col-2,
    .col-4 {
      padding: 0px;
    }
  }
  .booking-form-film {
    width: 100%;
    font-family: semibold;
    display: flex;

    align-items: center;
    height: 70px;
    &::after {
      display: table;
      content: " ";
      position: absolute;
      z-index: 1;
      border-right: 1px solid #fff;
      border-right-color: rgba(238, 238, 238, 0.88);
      right: 15px;
      width: 3px;
      height: 35px;
    }
  }
  .booking-form-film {
    padding-left: 20px;
    .form-group {
      margin-bottom: 0;
      width: 95%;

      &:focus {
        border: none;
        box-shadow: transparent !important;
        outline: none;
      }
      input {
        width: 100%;
        border: none;
      }
    }
  }

  .booking-form-button {
    height: 70px;
    width: 100%;
    font-family: semibold;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border-radius: 5px;
      background-color: $colorDescription;
      color: $white;
      border: none;
      padding: 10px 20px;
    }
  }
}
