#rendermoviemobile {
  display: none;
  padding: 30px 0;


  .movielist-inner {
    .nav {
      justify-content: center;
      margin-bottom: 40px !important;

      .nav-item {
        margin-right: 20px;

        .nav-link.active {
          background-color: transparent;
          color: $hoverText;
          transform: scale(1.2);

        }

        .nav-link {
          color: $black;
          font-family: semibold;
          font-size: 16px;

          &:hover {
            transition: 0.5s;
            transform: scale(1.2);
          }
        }
      }
    }

    .movielist-item {
      display: flex;
      margin-bottom: 20px;
      overflow: hidden;
    }

    .card-img-top {
      height: 150px;
      object-fit: cover;
      border-radius: 4px;
      object-position: 50% 30%;

    }
  }

  .MuiButton-containedPrimary {
    color: #fff;
    background-color: #f44336;
  }

  .renderThumbnail {
    left: 8%;
    color: #FAFAFA;
    bottom: 6%;
    padding: 0 8px;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #fb4226;
  }

  .rating {
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 20px;
    height: 50px;
    width: 70px;
    border-radius: 8px;
    background-color: rgba(12, 27, 54, 0.8);
    border: 1px solid #1f2e46;
    color: $white;
    text-align: center;

    .rating-star-incr,
    .rating-star-discr {
      i {
        font-size: 10px;
      }

      color: $hoverText;
    }
  }

  // &:before {
  //   position: absolute;
  //   z-index: 1;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 351px;
  //   content: "";
  //   opacity: 0;
  //   background-image: linear-gradient(
  //     to top,
  //     rgb(0, 0, 0, 0.8),
  //     rgba(0, 0, 0, 0)
  //   );
  // }
  &:hover:before {
    opacity: 1;
  }

  .MuiButton-label {

    transition: 0.5s;

    &:hover {
      box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
      transition: 0.5s;
    }
  }
}

@include respond-to("phone") {
  #rendermoviemobile {
    display: block;
  }
}

@include respond-to("small") {
  #rendermoviemobile {
    display: block;
  }
}