#booking-page {
  background-image: url("../../../img/bgCinemaBooking.jpeg");
  background-size: cover;

  background-position: center;
  width: 100%;
  .overlay {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

    background: linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      rgba(62, 62, 68, 0.829)
    );
    .mid {
      padding: 50px 0px;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      .bookingChair {
        background-color: white;
        padding: 10px;
        overflow: hidden;
        overflow-x: scroll;
        border-radius: 6px;
        .clockCountDown {
          margin-bottom: 5px;
          font-family: bold;
          font-size: 12px;
        }
        .screen {
          background: $hoverText;
          width: 90%;
          font-family: medium;
          margin: 0 auto;
          border-radius: 6px;
          font-size: 10px;
          color: white;
          box-shadow: 0px 12px 15px grey;
        }
        .note {
          margin-top: 30px;
          p {
            font-size: 10px;
            display: inline-block;
            height: 20px;
            line-height: 10px;
            color: $account;
          }

          .note-signal-disable,
          .note-signal-vip,
          .note-signal-available,
          .note-signal-booking {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 10px;
            margin-right: 4px;
          }
          .note-signal-disable {
            background: $account;
          }
          .note-signal-available {
            background: $hoverText;
          }
          .note-signal-booking {
            background: #317fb7;
          }
          .note-signal-vip {
            background: #00ac4d;
          }
        }
        .listchair {
          padding: 15px 0px;
          margin: 0 auto;
          text-align: center;
          width: 450px;
          .chair {
            outline: none;
            border: none;
            font-family: bold;
            font-size: 8px;
            height: 25px;
            width: 25px;
            border-radius: 6px;
            margin: 0px 1px;
            background-color: $hoverText;
            color: white;
          }
          .chairDisable {
            background-color: $colorText !important;
            border: none;
            font-family: bold;
            font-size: 8px;
            height: 25px;
            width: 25px;
            border-radius: 6px;
            margin: 0px 1px;
            color: white;
            outline: none;
            cursor: no-drop;
          }
          .chairVip {
            background: #00ac4d;
            border: none;
            font-family: bold;
            font-size: 8px;
            height: 25px;
            width: 25px;
            border-radius: 6px;
            margin: 0px 1px;
            color: white;
            outline: none;
          }
          .choice {
            background: #317fb7;
            border: none;
            font-family: bold;
            font-size: 8px;
            height: 25px;
            width: 25px;
            border-radius: 6px;
            margin: 0px 1px;
            color: white;
            outline: none;
          }
        }
      }
      .infor {
        background-color: white;
        clear: both;
        height: 250px;
        border-radius: 6px;
        .infor-left {
          max-width: 40%;
          float: left;
          padding: 10px;

          img {
            width: 100%;
            border-radius: 6px;
          }
        }
        .infor-right {
          width: 60%;
          float: left;
          padding: 10px;

          .title {
            font-size: 18px;
            font-family: semibold;
            color: $hoverText;
          }
          .time {
            color: grey;
            font-size: 10px;
          }
          .cinemaname {
            font-size: 14px;
            font-family: semibold;
            color: $hoverText;
          }
          .address {
            color: grey;
            font-size: 10px;
          }
        }
      }
      .bill {
        background-color: white;
        border-radius: 6px;
        padding: 10px;
        margin-top: 10px;

        .bill-content {
        }
        .chair {
          font-size: 16px;
        }
        .total {
          font-size: 24px;
        }
        .bill-title {
          color: $hoverText;
          font-family: semibold;
          font-size: $size-18;
        }

        .bill-btn-disable {
          background: $account;
          border: none;
          border-radius: 6px;
          padding: 10px 15px;
          color: $white;
          font-size: 16px;
          font-family: bold;
        }
        .bill-btn {
          background: $hoverText;
          border: none;
          border-radius: 6px;
          padding: 10px 15px;
          color: $white;
          font-size: 16px;
          font-family: bold;
        }
      }
    }
  }
  @include respond-to("extra-large") {
    .infor {
      .infor-left {
        max-width: 30% !important;
      }
      .infor-right {
        max-width: 70% !important;
      }
    }
  }
  @include respond-to("large") {
    .infor {
      .infor-left {
        max-width: 30% !important;
      }
      .infor-right {
        max-width: 70% !important;
      }
    }
  }
  @include respond-to("medium") {
    .infor {
      margin-top: 10px;
      .infor-left {
        max-width: 40% !important;
      }
      .infor-right {
        max-width: 60% !important;
      }
    }
  }
  @include respond-to("small") {
    .infor {
      margin-top: 10px;
      .infor-left {
        max-width: 40% !important;
      }
      .infor-right {
        max-width: 60% !important;
      }
    }
  }
  @include respond-to("phone") {
    .infor {
      margin-top: 10px;
      .infor-left {
        max-width: 40% !important;
      }
      .infor-right {
        max-width: 60% !important;
      }
    }
  }
}
