.table {
    background-color: #edf3f9;
    border: #186183;

    .shortcut {
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;

    }

    .renderTable {
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
    }

    .tenPhim {
        text-align: left;

    }


    .moTa {
        text-align: left;

    }

    .card-img-top {
        text-align: center;
        justify-content: center;
    }


}

.addMoviePagination {
    text-align: center;
    justify-content: center;
    padding-bottom: 1rem;

    .page-link {
        color: #27a9e3 !important;
        border-color: #27a9e3;

        &:hover {
            border-color: #27a9e3 !important;
        }

    }
}