.navbar {
  font-family: medium;
  position: fixed !important;
  width: 100%;
  z-index: 999;
  height: 60px;
  background-color: $white;
  justify-content: space-between !important;
  box-shadow: 0px 0px 10px rgb(128, 128, 128, 0.4);
  font-size: 14px;

  .navbar-brand {
    flex-grow: 7;

    img {
      height: 50px;
      width: 50px;
    }
  }

  #sideMenu {
    .dropdown-menu-right {
      font-family: medium;
      font-size: 16px;
      right: 0;
      left: auto;
      width: 65%;
      position: absolute;
      top: 0;
      z-index: z;
      height: 100vh;
      z-index: 10;
      background-color: $white;
      padding-left: 30px;

      li {
        margin: 10px 0px 30px 0px;

        .title-menu-mobile {
          color: $black;
        }
      }

      .btnLogin {
        height: 35px;
        width: 35px;
        border-radius: 18px;
        margin-right: 10px;
      }

      .icon-arrow-right {
        height: 20px;
        width: 20px;
        margin-left: 20px;
        margin-bottom: 5px;
      }
    }
  }

  .dropdown-toggle {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &::after {
      border: none;
    }

    img {
      height: 25px;
      width: 25px;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $black !important;

      &:hover {
        color: $hoverText !important;
      }
    }
  }


  .navbar-collapse {
    justify-content: center;
  }

  .myaccount {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;

    .accout {
      margin-right: 25px;
      position: relative;

      a {
        cursor: pointer;
        color: $account;

        img {
          height: 25px;
          width: 25px;
          border-radius: 14px;
          margin-right: 10px;
        }

        &:nth-child(1):after {
          display: table;
          content: "";
          top: -1px;
          right: -15px;
          border-right: 1px solid $account;
          position: absolute;
          height: 27px;
          width: 3px;
        }

        &:hover {
          color: $account;
        }
      }
    }

    .address {
      position: relative;
      color: $account;

      .dropdown-menu {
        font-size: 14px;
        top: 166%;
        min-width: 160px;
        left: -12px;
        height: 200px;
        overflow: auto;
      }

      .btn-dropdown {
        cursor: pointer;
        text-decoration: none;
        color: $account;
      }
    }
  }

  @include respond-to-min-width("extra-large") {
    .dropdown-toggle {
      display: none;
    }

    .icon-arrow-right {
      display: none;
    }

  }

  @include respond-to("extra-large") {
    .dropdown-toggle {
      display: none;
    }

    .icon-arrow-right {
      display: none;
    }


  }

  @include respond-to("large") {
    .dropdown-toggle {


      display: none;
    }

    .icon-arrow-right {
      display: none;
    }


  }

  @include respond-to("small") {
    .dropdown-toggle {
      display: inline-block;
    }

    .icon-arrow-right {
      display: inline-block;
    }

    .navbar-brand {
      img {
        height: 40px;
        width: 40px;
      }
    }

    .myaccount {
      display: none;
    }

    .navbar-toggler {
      img {
        height: 20px;
        width: 20px;
      }
    }
  }
}