#movieDetail {
  .backgroundMain {
    position: relative;
    height: 446px;
    .playing-trailer {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      height: 500px;
      width: 100%;
      .btn-modal-video2 {
        background: transparent;
        border: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .styleBlur {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      // overflow: hidden;
      .posterLandscapeFilm {
        // filter: blur(15px);
        //  opacity: 0.5;
        width: 100%;
        height: 446px;
        // margin: -11px 0 -5px -10px;
        // width: calc(100% + 5px);
        -webkit-filter: blur(15px);
        filter: blur(15px);
        -webkit-clip-path: inset(0);
        clip-path: inset(0);
      }
      .styleGradient {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background: linear-gradient(
          to top,
          rgb(10, 32, 41),
          rgba(10, 32, 41, 0.562)
        );
      }
      .containerCustom {
        max-width: 1040px;
        margin: 0 auto;
      }
      .detailMainInfor {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        align-items: center;
        top: 50%;
        width: 100%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        .filmPoster {
          width: 85%;
        }
        .filmName {
          color: $white;
          font-family: medium;
          .film-date-release {
            display: block;
          }
          .film-title {
            display: block;
            font-size: 30px;
            font-family: bold;
          }
          .film-time-release {
            display: block;
          }
        }
      }
    }
  }
  .contentMain {
    background: linear-gradient(to top, rgb(10, 32, 41), rgb(10, 31, 41));

    .containerCustom2 {
      max-width: 1040px;
      margin: 0 auto;
      .contentMain-inner {
        .nav {
          justify-content: center;
          margin-bottom: 40px !important;
          .nav-item {
            margin-right: 20px;
            .nav-link.active {
              background-color: transparent;
              color: $hoverText;
              transform: scale(1.2);
            }
            .nav-link {
              color: $white;
              font-family: semibold;
              font-size: $size-20;
              &:hover {
                transition: 0.5s;
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
  @include respond-to("medium") {
    .playing-trailer {
      display: block !important;
    }
    .styleBlur {
      .detailMainInfor {
        top: 80% !important;
        .progressbar {
          display: none !important;
        }
        .filmPoster {
          display: none !important;
        }
        .filmName {
          .film-time-trailer {
            .btn-modal-video {
              display: none;
            }
          }
        }
      }
      .posterLandscapeFilm {
        filter: blur(0px) !important;
      }
    }
  }
  @include respond-to("large") {
    .playing-trailer {
      display: block !important;
    }
    .styleBlur {
      .detailMainInfor {
        top: 80% !important;
        .progressbar {
          display: none !important;
        }
        .filmPoster {
          display: none !important;
        }
        .filmName {
          .film-time-trailer {
            .btn-modal-video {
              display: none !important;
            }
          }
        }
      }
      .posterLandscapeFilm {
        filter: blur(0px) !important;
      }
    }
  }
}
