.sign-up-inner {
  background-image: url("../../img/bg2.jpeg");
  background-size: 100%;
  height: 100vh;
  font-family: medium;
  color: $white;

  .sign-up-from {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom,

        rgba(20, 50, 93, 0.9),
        rgba(8, 22, 48, 0.9));

    padding: 30px 20px;

    img {
      width: 50%;
      margin-left: 50%;
      transform: translate(-50%, 0);
    }

    .btn {
      margin-left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .input_fix {
    display: inline;
    position: relative;
    padding-left: 40px;

  }

  .icon_register {
    position: absolute;

    .fa {
      color: black;
      text-align: center;
      padding: 5px;
    }
  }


  span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;

    top: 55%;
    left: 0;
    z-index: 1;
  }




  // responsive
  @include respond-to("small") {
    .sign-up-from {
      width: 100%;

    }
  }

  @include respond-to("phone") {


    .sign-up-inner {


      .sign-up-from {
        width: 100% !important;

      }
    }

  }
}